<launch>
	<arg name="a1" default="1" />
	<arg name="a2" default="1" />
	<arg name="alpha1" default="3.1415" />
	<arg name="d3" default="1" />
	<arg name="theta1" default="0" />
	<arg name="theta2" default="0" />
	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find LAB_2)/urdf/rotating.urdf.xacro'" />
	<param name="use_gui" value="true" />
	<node name="kdl_dkin" pkg ="lab_3" type="kdl_dkin">
		<param name="a1" value="$(arg a1)" />
		<param name="a2" value="$(arg a2)" />
		<param name="alpha1" value="$(arg alpha1)" />
		<param name="d3" value="$(arg d3)" />
		<param name="theta1" value="$(arg theta1)" />
		<param name="theta2" value="$(arg theta2)" />
	</node>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
</launch>